<div class="container-fluid">
    <div class="d-flex flex-column mb-3">
        <div class="p-2 ">
            <div class="card mx-auto mb-2 shadow" style="max-width: 80%;height:619px">
                <div class="row g-0">
                    <div class="alert shadow alert-light col-md-11 ms-5 mt-3" style="color:#4B85A6" role="alert">
                        Add customer for tour
                    </div>
                    <form method="POST" action="">

                        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
                            <span class="input-group-text" style="background-color:#FFFFFF">First name <span
                                    class="star">*</span></span>

                            <input type="text" aria-label="First name" name="firstname" class="form-control"
                                style="background-color:#FFFFFF">
                        </div>
                        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
                            <span class="input-group-text" style="background-color:#FFFFFF">Email <span
                                    class="star">*</span></span>

                            <input type="text" aria-label="email" name="email" class="form-control"
                                style="background-color:#FFFFFF">
                        </div>
                        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
                            <span class="input-group-text" style="background-color:#FFFFFF">Phone<span
                                    class="star">*</span></span>

                            <input type="text" aria-label="email" name="phone" class="form-control"
                                style="background-color:#FFFFFF">
                        </div>
                        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
                            <span class="input-group-text" style="background-color:#FFFFFF">Start time
                            </span>

                            <input type="text" name="timestart" class="form-control" value="{{timestart}}"
                                style="background-color:#FFFFFF">

                        </div>
                        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
                            <span class="input-group-text" style="background-color:#FFFFFF">Moving </span>


                            <div class="form-control " style="background-color:#FFFFFF">
                                <div class="form-check form-check-inline " style="text-align: left;">
                                    <input class="form-check-input " type="radio" name="customervehicle"
                                        id="inlineRadio1" value="Customer Vehicle">
                                    <label class="form-check-label" for="inlineRadio1">Your Vehicle</label>
                                </div>
                                <div class="form-check form-check-inline " style="text-align: right;">
                                    <input class="form-check-input" type="radio" name="hotelvehicle" id="inlineRadio2"
                                        value="Hotel Vehicle" checked>
                                    <label class="form-check-label" for="inlineRadio2">Hotel Vehicle</label>
                                </div>

                            </div>

                        </div>
                        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
                            <span class="input-group-text" style="background-color:#FFFFFF">Number of
                                participants
                                <span class="star">*</span></span>

                            <input type="text" name="no_ofparticipants" aria-label="no_ofparticipants"
                                class="form-control" style="background-color:#FFFFFF">
                        </div>
                        <div class="input-group  ms-5  tourinput " style="width:91.5%;">
                            <span class="input-group-text" style="background-color:#FFFFFF">Special need <span
                                    class="star"></span></span>

                            <input type="text" aria-label="specialneed" name="speacialneed" class="form-control"
                                style="background-color:#FFFFFF">
                        </div>
                        <button type="submit " class="btn btn-success mt-3"
                            style=" position:relative;left:86%;width:10%;text-align:center">
                            <h5>Add</h5>


                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .star {
        color: red
    }

    .tourinput {
        width: 91.5%;
        height: 60px;
    }

    .input-group-text {

        width: 25%;

    }
</style>
<script>
    function showNav() {
        var nav = document.getElementById("header");
        nav.style.display = "flex";
    }
    showNav()
    function showTab() {
        var tab = document.getElementById("tab");
        tab.style.display = "block";
    }
    showTab()

</script>