<nav class="navbar  sticky-top navbar-expand-lg bg-body-tertiary" id="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"> <img src="../../public/logo.png" class="img-icon" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex search" role="search">
            <input class="form-control me-2 empty " type="search" aria-label="Search" placeholder="&#xf002;">
        </form>
        {{#if account}}
        <div class="d-flex">
            <i class="fa-solid fa-bell " style="font-size: 2em;"></i>

            <form action="/login/profile" method="GET">
                <button type="submit" class="btn  btn-success mx-4 "><i class="fa-solid fa-user"></i>
                    {{account}}
                </button>
            </form>
            <form action="/logout" method="POST">
                <button type="submit" class="btn  btn-danger  "><i class="fa-solid fa-right-from-bracket"></i>Log out
                </button>

            </form>

        </div>
        {{else}}

        <a type=" button" class="btn btn-success mr-2 font-weight-bold" href="/login/signin">LOGIN</a>

        {{/if}}
    </div>
    </div>
</nav>

<style>
    .img-icon {
        height: 60px;
        width: 90px;

    }

    a.user {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }

    input.empty {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }

    .fa-user {
        color: #ffffff;
        width: 16px;
    }

    .fa-bell {

        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: medium;
        text-decoration: inherit;

    }


    .search {
        margin-right: auto !important;
        width: 30%;
        height: 40px;
    }

        {
            {
            !-- .user {
                height: 70px;
                width: 70px;
                background-color: #F4EBEB;
                border-radius: 50%;
                display: inline-block;

            }

            --
        }
    }

    .form-control {
        background-color: #F4EBEB;
    }

    .navbar {
        background-color: rgb(255, 255, 255) !important;
        display: none;
    }

    .nav-item a {
        color: white !important;
    }
</style>